.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

#backgroundPane{
    -fx-background-image: url("loginbg.jpg"); 
    -fx-background-repeat: stretch;   
    -fx-background-size: 800 399;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#loginbanner{
    -fx-background-image: url("loginbanner.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-position: center center;
 }

#appname{
 	-fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.rich-blue {
    -fx-background-color: #0078d7;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 12 30 12 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}
.rich-blue Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , 1);
}

/* File style.css */

.text-field {
    -fx-background-color: white ;
     -fx-border-style: solid;
  	-fx-border-width: 1px;
  	-fx-border-color:#9c9c9c;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
}
.text-field:focused {
    
    -fx-border-color:#0078d7;
}
